/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Space Mono', monospace; 
*/

/* html {
  scroll-behavior: smooth;
} */

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: 'Space Mono', monospace;
}

.page-heading {
    font-weight: 700;
}

.jumbotron-fluid {
    height: 100vh !important;
    padding-top: 8rem;
}

.text-upper {
    text-transform: uppercase;
    font-size: smaller;
}

.hero-image {
    width: 130px;
    margin-bottom: 2rem;
    border: 2px solid #6200EE;
    padding: 2px;
}

.btn {
    border-radius: 0;
}

.cta-primary {
    background-color: rgba(98, 0, 238, 1);
    color: #fff;
}

.cta-primary:hover {
    background-color: rgba(98, 0, 238, 0.8);
    color: #fff;
}

.image_block {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.card {
    border-radius: 0;
    transition: all 0.4s ease-in-out;
}

.card-title {
    color: #6200EE !important;
    font-weight: 700;
    text-transform: capitalize;
}

.col-md-4 {
    margin-bottom: 4rem;
}

header {
    height: 50px;
    text-align: center !important;
    visibility: hidden;
}

footer {
    font-size: 10px;
    text-transform: uppercase;
    color: #6200EE;
    text-align: center;
    margin-bottom: 2rem;
}

.jumbotron-alt {
    height: 50vh !important;
}

.breadcrumb-alt a,
table a {
    color: #6200EE;
}

label {
    text-transform: uppercase;
    color: #6200EE;
    font-weight: 700;
    font-size: 13px;
}

.form-control {
    border-radius: 0;
}

.form-control:focus,
.form-control:hover {
    border: 1px solid #6200EE;
    box-shadow: none;
}

textarea {
    height: 150px !important;
}
